@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  @apply bg-white text-white font-sans m-0;
}

@layer base {
  .bg-custom-pale-green {
    background-color: #d0f4d4;
  }
  .border-custom-pale-green {
    border-color: #c0e4c4; /* Slightly darker for borders */
  }
}